{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  {% if list_type %}
  <h2>{{ list_type }}</h2>
  {% endif %}
  <ul class="list-group" id="messages">

    {% for msg in messages %}

    <li class="list-group-item">
      <a href="/messages/{{ msg.id }}" class="message-link" />

      <a href="/users/{{ msg.user_id }}">
        <img src="{{ msg.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ msg.user_id }}">@{{ msg.username }}</a>
        <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
        <p>{{ msg.text }}</p>
      </div>
      {% if msg.user_id != logged_in_user_id %}
      <form method="POST" action="/messages/{{ msg.id }}/likes/{{ route }}" id="messages-form">
        <button class="
              btn btn-sm border 
              {{ 'border-success btn-success' if msg.id in likes else 'border-secondary btn-light' }}">
          <i class="fa fa-thumbs-up"></i>
        </button>
      </form>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}